.dark {
    --bg-color: #37374b;
    --inverted-bg-color: #c4c4f7;
    --primary-color: #1a961a;
    --secondary-color: #6ef26e;
    --inverted-primary-color: #1928d1;
    --inverted-secondary-color: #4187f5;
}
