.dark {
    --bg-color: #37374b;
    --inverted-bg-color: #c4c4f7;
    --primary-color: #107410;
    --secondary-color: #29ae29;
    --inverted-primary-color: #4187f5;
    --inverted-secondary-color: #1928d1;
    --switch-theme-icon-color: #322f2f;
}
