.light {
    --bg-color: #c4c4f7;
    --inverted-bg-color: #37374b;
    --primary-color: #5087ee;
    --secondary-color: #707ae0;
    --inverted-primary-color: #96ad96;
    --inverted-secondary-color: #8bb48b;
    --switch-theme-icon-color: #dfdcdc;
}
